<%- include('partials/header');  %>

    <h1><%= user.name %></h1><br>
    <form action="/user/<%= email %>" method="POST">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="postTitle" class="form-control">
      <label>Post</label>
      <textarea name="postContent" cols="40" rows=3" placeholder="Write Something" class="form-control"></textarea>
    </div>
    <button type="submit">Write Post</button>
    </form>
    <p>
        <% user.posts.forEach(function(post){ %>
            <%if(typeof post != "undefined"){%>
            <h3><%= post.title %></h3>
            <p><%= post.content.substring(0,120)%></p>
            <%}%>
        <% }); %>

    </p>

<%- include('partials/footer');  %>
